<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jianghongkui.volumemanager">

    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <application
        android:name=".other.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VolumeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".other.PacakgeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".other.MessageNotifyReceiver">
            <intent-filter>
                <action android:name="com.action.message_notify" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".other.CallReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
        <!--<action android:name="android.intent.action.PHONE_STATE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".other.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".other.WindowChangeDetectingService"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <provider
            android:name=".other.PackageVolumeProvider"
            android:authorities="com.jianghongkui.volumemanager" />

        <service
            android:name=".other.VolumeChangeService"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="com.jianghongkui.volumemanager" />
            </intent-filter>
        </service>
    </application>

</manifest>